
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log


dist/
*.local

.env
.env.local
.env.*.local


docker-compose.override.yml


.vscode/
.idea/
*.swp
*.swo


hasura/metadata/**


.DS_Store
Thumbs.db


debug.log